version: 2
jobs:
  test:
    docker:
      - image: circleci/node:14.14.0
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run: yarn

      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run:
          name: Install dependencies
          command: yarn

      - run:
          name: Eslint
          command: yarn lint
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
          when: always

      - run:
          name: Tests and coverage
          command: yarn test --maxWorkers=2

      - run:
          name: Send coverage report to Code Climate
          command:
            ./cc-test-reporter after-build -t lcov
          when: always

      - store_artifacts:
          path: ./coverage/lcov.info
          prefix: tests

workflows:
  version: 2
  test_branch:
    jobs:
      - test
